<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">	
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    
    <!--  JS  -->
    <script th:src="@{/js/jquery-3.6.0.js}"></script>
	<script th:src="@{/js/jquery.twbsPagination.js}"></script>
    
    
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="dashboard">
                
                <!--  left MENU -->
      			<th:block th:replace="~{share/admin_left_menu::admin}"></th:block>
                
                <div class="right">
                    <div class="right__content">
                        <div class="right__title">Bảng điều khiển</div>
                        <p class="right__desc">Chèn sản phẩm</p>
                        
                        
                        <div class="right__formWrapper">
                            <form id="add-product-form" th:action="@{/admin/product/add}" method="post" enctype="multipart/form-data"
                            th:object="${product}">
                            
                                <div class="right__inputWrapper">
                                    <label for="title">Tên sản phẩm</label>
                                    <input th:field="*{name}" type="text" placeholder="Tiêu đề"  >
                                </div>
                                
                                
                                <div class="right__inputWrapper">
                                    <label >Danh mục</label>
                                    <select th:field="*{portfolioId}">
                                        <option value="">Chọn danh mục</option>
                                        <option th:each="portfolio : ${listPortfolio}" th:value="${portfolio.id}" th:text="${portfolio.name}"></option>
                                    </select>
                                </div>
                                
                                
                                <div class="right__inputWrapper">
									<label>Thể loại</label> 
									<select th:field="*{categoryId}">
										<option value="">Chọn thể loại</option>
										<option th:each="category : ${listCategory}" th:value="${category.id}"
											th:text="${category.name}"></option>
									</select>
								</div>
                                
                                <div class="right__inputWrapper">
									<label>Nhà Cung cấp</label> 
									<select th:field="*{supplierId}">
										<option value="">Chọn nhà cung cấp</option>
										<option th:each="supplier : ${listSupplier}" th:value="${supplier.id}"
											th:text="${supplier.name}"></option>
									</select>
								</div>
                                
                                <div class="right__inputWrapper">
                                    <label for="image">Hình ảnh 1</label>
                                    <input th:field="*{imgFile1}" type="file">
                                </div>
                                
                                
                                <div class="right__inputWrapper">
                                    <label for="image">Hình ảnh 2</label>
                                     <input th:field="*{imgFile2}" type="file">
                                </div>
                                <div class="right__inputWrapper">
                                    <label for="image">Hình ảnh 3</label>
                                     <input th:field="*{imgFile3}" type="file">
                                </div>
                                
                                
                                <div class="right__inputWrapper">
                                    <label for="label">Nhãn sản phẩm</label>
                                    <select th:field="*{label}">
                                        <option value="" disabled selected>Nhãn sản phẩm</option>
                                        <option value="new">Mới</option>
                                        <option value="sale">Giảm giá</option>
                                    </select>
                                </div>
                                
                                
                                <div class="right__inputWrapper">
                                    <label for="title">Giá sản phẩm</label>
                                    <input th:field="*{price}" placeholder="Giá sản phẩm">
                                </div>
                                
                                
                                <div class="right__inputWrapper">
                                    <label for="title">Số lượng còn lại</label>
                                    <input th:field="*{quantity}" placeholder="Số lượng còn lại">
                                </div>
                                
                                
                                <div class="right__inputWrapper">
                                    <label for="title">Từ khoá</label>
                                    <input th:field="*{keyword}" placeholder="Từ khoá">
                                </div>
                                
                                
                                <div class="right__inputWrapper">
                                    <label for="desc">Mô tả</label>
                                    <textarea th:field="*{description}" cols="30" rows="10" placeholder="Mô tả"></textarea>
                                </div>
                                <button class="btn" type="submit">Thêm</button>
                            </form>
                            
                        </div>
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
	<script th:src="@{/js/validate/jquery.validate.min.js}"></script>
    <script th:src="@{/js/product/product_validate.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</body>
</html>