<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Leftmenu</title>
</head>
<body>
<div th:fragment="admin" class="left">
   <span class="left__icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    <div class="left__content">
                        <div class="left__logo">LOGO</div>
                        <div class="left__profile">
                            <div class="left__image"><img th:src="@{/images/ptit.png}" alt=""></div>
                            <p class="left__name">Anh Duc</p>
                        </div>
                        <ul class="left__menu">
                            <li class="left__menuItem">
                                <a th:href="@{/}" class="left__title"><img th:src="@{/assets/icon-dashboard.svg}" alt="">Dashboard</a>
                            </li>
                            
                            
                            <li class="left__menuItem">
                                <div class="left__title"><img th:src="@{/assets/icon-tag.svg}" alt="">Sản Phẩm<img class="left__iconDown" th:src="@{/assets/arrow-down.svg}" alt=""></div>
                                <div class="left__text">
                                    <a class="left__link" th:href="@{/admin/product/add}">Thêm sản phẩm</a>
                                    <a class="left__link" th:href="@{/admin/product/view}">Xem Sản Phẩm</a>
                                </div>
                            </li>
                            
                            <li class="left__menuItem">
                                <div class="left__title"><img th:src="@{/assets/supplier.svg}" alt="">Nhà Cung Cấp<img class="left__iconDown" th:src="@{/assets/arrow-down.svg}" alt=""></div>
                                <div class="left__text">
                                    <a class="left__link" th:href="@{/admin/supplier/add}">Thêm nhà cung cấp</a>
                                    <a class="left__link" th:href="@{/admin/supplier/view}">Xem nhà cung cấp</a>
                                </div>
                            </li>
                            
                            
                            <li class="left__menuItem">
                                <div class="left__title"><img th:src="@{/assets/icon-edit.svg}" alt="">Danh Mục SP<img class="left__iconDown" th:src="@{/assets/arrow-down.svg}" alt=""></div>
                                <div class="left__text">
                                    <a class="left__link" th:href="@{/admin/portfolio/add}">Chèn Danh Mục</a>
                                    <a class="left__link" th:href="@{/admin/portfolio/view}">Xem Danh Mục</a>
                                </div>
                            </li>
                            <li class="left__menuItem">
                                <div class="left__title"><img th:src="@{/assets/icon-book.svg}" alt="">Thể Loại<img class="left__iconDown" th:src="@{/assets/arrow-down.svg}" alt=""></div>
                                <div class="left__text">
                                    <a class="left__link"  th:href="@{/admin/category/add}">Chèn Thể Loại</a>
                                    <a class="left__link"   th:href="@{/admin/category/view}">Xem Thể Loại</a>
                                </div>
                            </li>
                            <li class="left__menuItem">
                                <div class="left__title"><img th:src="@{/assets/icon-settings.svg}" alt="">Slide<img class="left__iconDown" th:src="@{/assets/arrow-down.svg}" alt=""></div>
                                <div class="left__text">
                                    <a class="left__link" href="insert_slide.html">Chèn Slide</a>
                                    <a class="left__link" href="view_slides.html">Xem Slide</a>
                                </div>
                            </li>
                            <li class="left__menuItem">
                                <div class="left__title"><img th:src="@{/assets/icon-book.svg}" alt="">Coupons<img class="left__iconDown" th:src="@{/assets/arrow-down.svg}" alt=""></div>
                                <div class="left__text">
                                    <a class="left__link" href="insert_coupon.html">Chèn Coupon</a>
                                    <a class="left__link" href="view_coupons.html">Xem Coupons</a>
                                </div>
                            </li>
                            <li class="left__menuItem">
                                <a href="view_customers.html" class="left__title"><img th:src="@{/assets/icon-users.svg}" alt="">Khách Hàng</a>
                            </li>
                            <li class="left__menuItem">
                                <a href="view_orders.html" class="left__title"><img th:src="@{/assets/icon-book.svg}" alt="">Đơn Đặt Hàng</a>
                            </li>
                
                            <li class="left__menuItem">
                                <div class="left__title"><img th:src="@{/assets/icon-user.svg}" alt="">Admin<img class="left__iconDown" th:src="@{/assets/arrow-down.svg}" alt=""></div>
                                <div class="left__text">
                                    <a class="left__link" href="insert_admin.html">Chèn Admin</a>
                                    <a class="left__link" href="view_admins.html">Xem Admins</a>
                                </div>
                            </li>
                            <li class="left__menuItem">
                                <a href="" class="left__title"><img th:src="@{/assets/icon-logout.svg}" alt="">Đăng Xuất</a>
                            </li>
                        </ul>
                    </div>
                </div>
</body>
</html>