<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm danh mục sản phẩm</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    
    
    <script th:src="@{/js/jquery-3.6.0.js}"></script>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="dashboard">
                
            <!--  left MENU -->
      		<th:block th:replace="~{share/admin_left_menu::admin}"></th:block>
                
                <div class="right">
                    <div class="right__content">
                        <div class="right__title">Bảng điều khiển</div>
                        <p class="right__desc">Thêm danh mục sản phẩm</p>
                        
                        
                        <div class="right__formWrapper">
                            <form id="add-portfolio-form" th:action="@{/admin/portfolio/add}" method="post" th:object="${portfolio}">
                            
                                <div class="right__inputWrapper">
                                    <label for="title" >Tên danh mục sản phẩm</label>
                                    <input th:field="*{name}" type="text" placeholder="Thể loại">
                                    
                                    <!-- show Error -->
                                     <ul>
									<li th:each="err : ${#fields.errors('name')}" th:text="${err}"
										class="error" />
									</ul>
									
									<lable class="error fail-alert" th:text="${msg}"></label>
                                </div>
                                
                               	
                                
                                <div class="right__inputWrapper">
                                    <label for="desc">Mô tả</label>
                                    <textarea th:field="*{description}" cols="30" rows="10" placeholder="Mô tả"></textarea>
                                </div>
                                
                                
                                <button class="btn" type="submit">Thêm</button>
                            </form>
                            
                        </div>
                    </div>
                </div>
                
                
                
            </div>
        </div>
    </div>
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/validate/jquery.validate.min.js}"></script>
    <script th:src="@{/js/portfolio/portfolio_validate.js}"></script>
    
</body>
</html>