<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">	
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    
    <!--  JS  -->
    <script th:src="@{/js/jquery-3.6.0.js}"></script>
	<script th:src="@{/js/jquery.twbsPagination.js}"></script>
    
    <script>
    	var LOAD_DATA_URL = "/admin/portfolio/view";
    </script>

 
    
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="dashboard">
                     
            <!--  left MENU -->
      		<th:block th:replace="~{share/admin_left_menu::admin}"></th:block>
      		
      		
      		
                <div class="right">
                    <div class="right__content">
                        <div class="right__title">Bảng điều khiển</div>
                        <p class="right__desc">Xem danh mục sản phẩm</p>
                        
                         <div class="right__formWrapper">
                        <!--  Form tìm kiếm -->
                        <form action="" method="post" id="search-form"
								th:object="${pageInfo}">
								
									<div class="search-form-input">
									<input placeholder="Input here" type="text" th:field="*{keyword}"> 
									</div>
									
									<div class="search-form-input">
									<label for="">Order</label>
									<select class="order" th:field="*{sortType}">
										<option th:value="0" >&#xf0d8;</i></option>
										<option th:value="1" >&#xf0d7;</i></option>
									</select> 
									</div>
									
									<div class="search-form-input">
									<label for="">Filter</label>
									<select th:field="*{searchType}">
										<option th:value="1" th:text="'Category Name'"></option>
									</select>
									</div>
									 
									<div class="search-form-input">
									<label>Page Size</label> 
									<select th:field="*{pageSize}">
										<option th:value="5" th:text="5"></option>
										<option th:value="10" th:text="10"></option>
										<option th:value="30" th:text="30"></option>
									</select>
									</div>
									
									<button type="submit">Tìm kiếm</button>
                        </form>
                        
                        
                        <!--  bảng kết quả  -->
                       
                        <p class="error-msg"></p>
							<div class="result-label">Result: </div>
						
						
												
							<div class="loader"></div>
							<div class="no-result"></div>
							
							
							<table id="data-table">
								<tbody>
								</tbody>
							</table>
							
							
							<div id="parent-paging-block">
								<div id="paging-block"></div>
							</div>
                        
                       </div>  
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <script th:src="@{/js/portfolio/view_portfolio.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</body>
</html>